<!-- INCLUDE overall_header.html -->
</div>
<hr />
<div>
{L_REGISTRATION}
<!-- IF ERROR -->
<br />
{ERROR}
<!-- ENDIF -->
<!-- IF L_REG_COND -->
<br />
{L_REG_COND}
<!-- ENDIF -->
<form method="post" action="{S_UCP_ACTION}" id="register">
<label for="username">{L_USERNAME}{L_COLON}<br />{L_USERNAME_EXPLAIN}</label>
<br />
<input type="text" name="username" id="username" size="25" value="{USERNAME}" placeholder="{L_USERNAME}" />
<br />
<label for="email">{L_EMAIL_ADDRESS}{L_COLON}</label>
<br />
<input type="text" name="email" id="email" size="25" maxlength="100" value="{EMAIL}" placeholder="{L_EMAIL_ADDRESS}" />
<br />
<label for="email_confirm">{L_CONFIRM_EMAIL}{L_COLON}</label>
<br />
<input type="text" name="email_confirm" id="email_confirm" size="25" maxlength="100" value="{EMAIL_CONFIRM}" placeholder="{L_CONFIRM_EMAIL}" />
<br />
<label for="new_password">{L_PASSWORD}{L_COLON}<br />{L_PASSWORD_EXPLAIN}</label>
<br />
<input type="password" name="new_password" id="new_password" size="25" value="" placeholder="{L_PASSWORD}" />
<br />
<label for="password_confirm">{L_CONFIRM_PASSWORD}{L_COLON}</label>
<br />
<input type="password" name="password_confirm" id="password_confirm" size="25" value="" placeholder="{L_CONFIRM_PASSWORD}" />
<br />
<label for="lang">{L_LANGUAGE}{L_COLON}</label>
<br />
<select name="lang" id="lang">
{S_LANG_OPTIONS}
</select>
<br />
<label for="tz">{L_TIMEZONE}{L_COLON}</label>
<br />
<select name="tz" id="tz">
{S_TZ_OPTIONS}
</select>
<!-- IF .profile_fields -->
<!-- BEGIN profile_fields -->
<br />
<label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>
{profile_fields.LANG_NAME}{L_COLON}<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF -->
<!-- IF profile_fields.LANG_EXPLAIN --><br />{profile_fields.LANG_EXPLAIN}<!-- ENDIF -->
<!-- IF profile_fields.ERROR --><br />{profile_fields.ERROR}<!-- ENDIF -->
</label>
<br />
{profile_fields.FIELD}
<!-- END profile_fields -->
<!-- ENDIF -->
<!-- IF CAPTCHA_TEMPLATE -->
<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->
<br />
<input type="reset" value="{L_RESET}" name="reset" />
&nbsp;
<input type="submit" name="submit" id="submit" value="{L_SUBMIT}" />
{S_HIDDEN_FIELDS}
{S_FORM_TOKEN}
</form>
<!-- IF S_COPPA -->
<br />
{L_COPPA_COMPLIANCE}
<br />
{L_COPPA_EXPLAIN}
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
